.upper {
  text-transform: uppercase; }

.linear-transition, #header > div.right > div {
  /* Prefix -webkit- for chrome and safari */
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: 0.1s;
  /* Prefix -moz- for firefox */
  -moz-transition-timing-function: linear;
  -moz-transition-duration: 0.1s;
  /* NO prefix for opera */
  transition-timing-function: linear;
  transition-duration: 0.1s;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

a {
  text-decoration: none; }

body {
  margin: 0px 0px; }

p,
div {
  font-family: RalewayRegular;
  font-size: 18px; }

@font-face {
  font-family: RalewayRegular;
  src: url("../fonts/Raleway-Regular.ttf"); }

@font-face {
  font-family: RalewayMedium;
  src: url("../fonts/Raleway-Medium.ttf"); }

@font-face {
  font-family: RalewayMediumItalic;
  src: url("../fonts/Raleway-MediumItalic.ttf"); }

@font-face {
  font-family: RalewayBold;
  src: url("../fonts/Raleway-Bold.ttf"); }

@font-face {
  font-family: RalewayItalic;
  src: url("../fonts/Raleway-Italic.ttf"); }

@font-face {
  font-family: RalewayLight;
  src: url("../fonts/Raleway-Light.ttf"); }

@font-face {
  font-family: RalewayBoldItalic;
  src: url("../fonts/Raleway-BoldItalic.ttf"); }

.upper {
  text-transform: uppercase; }

.linear-transition, #header > div.right > div {
  /* Prefix -webkit- for chrome and safari */
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: 0.1s;
  /* Prefix -moz- for firefox */
  -moz-transition-timing-function: linear;
  -moz-transition-duration: 0.1s;
  /* NO prefix for opera */
  transition-timing-function: linear;
  transition-duration: 0.1s;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#header {
  width: 100%;
  height: 60px;
  background-color: #1c2227; }
  #header > div {
    position: absolute;
    top: 0;
    bottom: 0;
    height: inherit;
    cursor: pointer; }
    #header > div.left {
      left: 0; }
      #header > div.left .logo {
        display: block;
        text-indent: -9999px;
        width: 80px;
        height: 34px;
        background-image: url("../images/digitalMonkey.svg");
        background-size: 80px 34px;
        position: absolute;
        top: 50%;
        margin-top: calc(-34px/2);
        margin-left: 10px; }
    #header > div.right {
      right: 0; }
      #header > div.right > div {
        display: inline-block; }
        #header > div.right > div.search {
          height: 60px;
          width: 60px;
          background-color: #1c2227;
          position: relative;
          left: 4px; }
          #header > div.right > div.search:hover {
            background-color: #45c8f2; }
            #header > div.right > div.search:hover .icon {
              background-color: #1c2227; }
          #header > div.right > div.search .icon {
            width: 28px;
            height: 29px;
            -webkit-mask-image: url("../images/search.svg");
            mask-image: url("../images/search.svg");
            background-color: #45c8f2;
            background-size: 28px 29px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -15px 0 0 -15px; }
        #header > div.right > div.user {
          position: relative;
          bottom: 4px;
          padding-left: 10px;
          padding-right: 10px; }
          #header > div.right > div.user:hover {
            background-color: #45c8f2; }
            #header > div.right > div.user:hover .name {
              color: #1c2227; }
          #header > div.right > div.user > div {
            display: inline-block; }
            #header > div.right > div.user > div.container {
              padding-top: 5px;
              padding-bottom: 10px; }
              #header > div.right > div.user > div.container .icon {
                width: 42px;
                height: 42px;
                background-image: url("../images/chris.jpg");
                background-size: 42px 42px;
                border-radius: 100px;
                background-size: 160%;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                top: 2px; }
            #header > div.right > div.user > div.name {
              color: #45c8f2;
              font-family: RalewayMedium;
              position: relative;
              bottom: 20px; }

#footer {
  width: 100%;
  height: 30px;
  background-color: #1c2227; }
  #footer p {
    color: #45c8f2;
    font-size: 14px;
    margin: 0;
    margin-left: 5px;
    position: relative;
    top: 5px; }
    #footer p span {
      font-family: RalewayBoldItalic; }
