.upper {
  text-transform: uppercase; }

@font-face {
  font-family: Lato;
  src: url(/fonts/Lato-Regular.ttf); }

a {
  text-decoration: none; }

body {
  margin: 0px 0px; }

p,
a,
div,
body {
  font-family: Lato, Helvetica, sans-serif; }

html,
body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table; }

@font-face {
  font-family: Lato;
  src: url(/fonts/Lato-Regular.ttf); }

div.btn,
button.btn,
a.btn,
input[type="submit"].btn {
  font-family: Lato, Helvetica, sans-serif;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 2px;
  display: inline-block;
  padding: 10px 20px;
  margin: 5px 0px;
  cursor: pointer;
  cursor: hand;
  color: black;
  text-align: center;
  letter-spacing: 2px;
  font-size: 25px;
  text-decoration: none; }
  div.btn p,
  button.btn p,
  a.btn p,
  input[type="submit"].btn p {
    margin: 0; }
  div.btn:hover,
  button.btn:hover,
  a.btn:hover,
  input[type="submit"].btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    cursor: hand; }

div.btn2,
button.btn2,
a.btn2,
input[type="submit"].btn2 {
  text-align: center;
  color: #FFFFFF;
  background-color: #525259;
  border-radius: 40px;
  border: 1px solid #979797;
  font-size: 17px;
  padding: 12px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  cursor: hand; }

.linear-transition, div.btn,
button.btn,
a.btn,
input[type="submit"].btn {
  /* Prefix -webkit- for chrome and safari */
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: 0.2s;
  /* Prefix -moz- for firefox */
  -moz-transition-timing-function: linear;
  -moz-transition-duration: 0.2s;
  /* NO prefix for opera */
  transition-timing-function: linear;
  transition-duration: 0.2s;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#head-div {
  background: #525259; }
  #head-div #kth-logo {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-image: url("/images/icons/kth.png");
    background-size: 50px 50px;
    margin-left: 10px;
    margin-top: 10px; }
  #head-div nav {
    width: 90%;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    #head-div nav a {
      font-size: 20px;
      color: #FFFFFF;
      position: relative;
      bottom: 10px;
      margin-right: 10px; }

#foot-div {
  background: #353535;
  width: 100%;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  #foot-div p {
    font-family: Helvetica;
    color: white;
    line-height: 29px;
    margin: 0px;
    margin-right: 5px;
    font-size: 15px; }
  #foot-div a {
    text-decoration: none;
    color: white; }

.login-page-container {
  background-image: url("../images/pages/login/bg.jpg");
  height: 750px;
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center; }
  .login-page-container > div {
    position: relative;
    top: 400px;
    width: 350px;
    margin: 40px auto; }
    .login-page-container > div p,
    .login-page-container > div input[type="checkbox"] {
      display: inline-block; }
    .login-page-container > div div.submit-container {
      display: block; }
      .login-page-container > div div.submit-container button.btn,
      .login-page-container > div div.submit-container a.btn {
        box-sizing: border-box;
        font-size: 15px; }
        .login-page-container > div div.submit-container button.btn.login,
        .login-page-container > div div.submit-container a.btn.login {
          width: calc(33% + 5px); }
        .login-page-container > div div.submit-container button.btn.reset,
        .login-page-container > div div.submit-container a.btn.reset {
          width: calc(66% - 7px); }
    .login-page-container > div input[type="password"],
    .login-page-container > div input[type="email"] {
      border: none;
      border-radius: 10px;
      padding: 10px;
      width: calc(100% - 20px);
      margin: 10px auto;
      display: block;
      box-sizing: border-box;
      background: #FFFFFF;
      border: 1px solid #979797;
      border-radius: 40px;
      font-size: 16px;
      font-family: Lato, Helvetica, sans-serif;
      outline: 0;
      padding: 12px;
      color: #525259;
      margin: 10px 0px;
      display: block; }
      .login-page-container > div input[type="password"]:focus::-webkit-input-placeholder,
      .login-page-container > div input[type="email"]:focus::-webkit-input-placeholder {
        color: transparent; }

.register-page-container {
  margin: auto;
  width: 60%; }
  .register-page-container form {
    margin-top: 70px;
    text-align: center; }
    .register-page-container form .btn {
      margin-top: 30px;
      margin-bottom: 30px; }
    .register-page-container form input {
      margin: 10px 0;
      padding: 10px;
      border: solid 1px #dcdcdc;
      transition: box-shadow 0.3s, border 0.3s;
      display: block;
      width: 100%;
      font-size: 18px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      box-shadow: none;
      border-radius: none; }
      .register-page-container form input:focus {
        border: solid 1px #707070;
        box-shadow: 0 0 5px 1px #969696;
        outline: none; }

.blogpost-container #article_banner {
  width: 100%;
  height: 400px;
  background-size: 100% 400px; }

.blogpost-container #content {
  margin: auto;
  width: 60%; }
  .blogpost-container #content p {
    text-align: center; }
    .blogpost-container #content p#title {
      font-size: 30px; }
    .blogpost-container #content p#intro {
      font-size: 20px; }
    .blogpost-container #content p#body {
      font-size: 14px;
      margin-bottom: 50px;
      text-align: left; }

.blogpost-container #social {
  margin: auto;
  width: 12%;
  margin-top: 50px;
  margin-bottom: 50px; }
  .blogpost-container #social a {
    width: 35px;
    height: 35px;
    background-size: 35px;
    display: inline-block;
    margin: 5px; }
    .blogpost-container #social a#twitter {
      background-image: url("/images/icons/twitter.png"); }
    .blogpost-container #social a#facebook {
      background-image: url("/images/icons/facebook.png"); }
    .blogpost-container #social a#google {
      background-image: url("/images/icons/google.png"); }

/*# sourceMappingURL=app.css.map */
