$dark-gray: #1c2227
$light-blue: #45c8f2
$light-light-blue: #6ecae7
//$light-light-blue: #67cded

@import ../../components/addons
@import ../../components/fonts

#browse
  width: 100vw
  @import banner
  @import intro
  @import body
  div, p
    &::selection
      background: $light-light-blue
      color: white
  .social
    display: none
    @media screen and (min-width: 550px)
      display: block
    position: absolute
    > div
      width: 30px
      height: 30px
      margin: 10px
      &.twitter
        background-image: url('../images/social/twitter.svg')
      &.facebook
        background-image: url('../images/social/facebook.svg')
      &.google-plus
        background-image: url('../images/social/google-plus.svg')
      &:hover
        cursor: pointer
  hr
    width: 70vw
    margin: 30px auto
  .author
    width: 60vw
    min-height: 130px
    margin: 20px auto 20px auto
    font-size: 0
    .left
      display: flex
      justify-content: center
      align-items: center
      margin: 30px 0 10px 0
      @media screen and (min-width: 650px)
        display: inline-flex
        margin-right: 20px
        margin-top: 0
      .profile-pic
        height: 125px
        width: 125px
        background-image: url('../images/chris.jpg')
        background-size: cover
        border-radius: 100px
        vertical-align: middle
    .right
      display: inline-block
      vertical-align: top
      @media screen and (min-width: 650px)
        width: 50%
      @media screen and (min-width: 700px)
        width: 60%
      @media screen and (min-width: 800px)
        width: 70%
      p
        margin: 10px 0
        &:nth-child(1)
          font-family: RalewayMedium
          text-transform: capitalize
          font-size: 24px
          text-align: center
          @media screen and (min-width: 650px)
            text-align: left
