@import ../../templates/form

.write-blogpost-page-container
	@extend .form-container
	.editable-intro,
	.editable-body
		outline: none
		max-width: 80vw
		&.editable-intro,
		&.editable-intro p
			font-size: 24px
			line-height: 36px
			margin-top: 10px
			margin-bottom: 10px
			&::first-letter
				color: #45C8F2
				font-family: RalewayMedium
				font-size: 70px
		&.editable-body
			h6
				font-family: RalewayMedium
				font-size: 45px
				width: 70vw
				text-align: center
				width: 80vw
				color: #999999
				margin-top: 10px
				margin-bottom: 10px
			p
				margin-top: 10px
				margin-bottom: 10px
