// $susy: (columns: 12, container: 1120px, global-box-sizing: border-box)
// @include border-box-sizing;

@import buttons
@import addons
@import init

#login-bg
	background-image: url("../images/pages/login/bg.jpg")
	height: 750px
	background-size: 1600px
	background-repeat: no-repeat
	//background-attachment: fixed 			// Gives cool effect!
	background-position: center


#login_wrapper
	position: relative
	top: 350px
	div
		margin: 0 auto
		&:nth-child(1)
			width: 200px
		&:nth-child(2)
			width: 135px
		&:nth-child(3)
			width: 220px


	button,
	a
		padding: 5px
		font-size: 15px
		display: inline-block
	p
		display: inline-block
		margin-right: 5px

input[type="password"],
input[type="email"]
	background: #FFFFFF
	border: 1px solid #979797
	border-radius: 40px
	font-size: 16px
	font-family: $font-stack
	outline: 0
	padding: 12px
	color: #525259
	margin: 10px 0px
	max-width: 200px
	display: block


// Hides placeholder
input[type="email"],
input[type="password"]
	&:focus::-webkit-input-placeholder
		color: transparent
