* {
    background-color: #ffffff;
} h1 {
    color: #003366;
    font-family: Arial, Helvetica;
    font-size: 21px;
    font-weight: normal;
} h2 {
    color: #003366;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
} p {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
} p.kalle {
	color: #ff0000;
}