PERSONA, LINE, PERSONAE, PLAYSUBT, ACT > TITLE, STAGEDIR {
    display:block;   
}

LINE {
    text-indent: 10px;
}

MAINTITLE {
	font-size: 100px;
}

TITLE {
	text-transform: uppercase;
    display: block;
    margin: 5pt 0px 0px 0px;
    font-size: 17px;
}

PERSONAE {
    margin: 100px 0px 0px 0px;
}

PLAYSUBT {
    margin: 10px 0px 0px 0px;
    font-size:30px;
}

ACT > TITLE {
    text-align:center;
    width: 40%;
}

SCENE > TITLE {
    margin: 0px;
}

STAGEDIR {
    font-style: italic;
    margin: 10px 0px 10px 0px;
}

SCENE {
    counter-reset: row;
}

LINE:after{
    counter-increment: row;
    content: "  " counter(row);
}
