$dark-gray: #1c2227
$light-blue: #45c8f2

#footer
  width: 100%
  height: 30px
  background-color: $dark-gray
  p
    color: $light-blue
    font-size: 14px
    margin: 0
    margin-left: 5px
    position: relative
    top: 5px
    span
      font-family: RalewayBoldItalic
